<div class="example-container">

    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Buscar trabajador">
    </mat-form-field>

    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="$dataSource()" matSort>

            <!-- ID -->
            <ng-container matColumnDef="idTrabajador">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.idTrabajador }}
                </td>
            </ng-container>

            <!-- NOMBRE -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.nombre }}
                </td>
            </ng-container>

            <!-- APELLIDO -->
            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.apellido }}
                </td>
            </ng-container>

            <!-- CARGO -->
            <ng-container matColumnDef="cargo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.cargo }}
                </td>
            </ng-container>

            <!-- TELEFONO -->
            <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.telefono }}
                </td>
            </ng-container>

            <!-- EMAIL -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.email }}
                </td>
            </ng-container>

            <!-- ESTADO -->
            <ng-container matColumnDef="estadoTrabajador">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.estadoTrabajador ? 'Activo' : 'Inactivo' }}
                </td>
            </ng-container>

            <!-- ACTIONS -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>

                <td mat-cell *matCellDef="let element">

                    <button
                        mat-icon-button
                        color="primary"
                        [routerLink]="['/pages/trabajador/edit', element.idTrabajador]">

                        <mat-icon>edit</mat-icon>

                    </button>

                    <button
                        mat-icon-button
                        color="warn"
                        (click)="delete(element.idTrabajador)">

                        <mat-icon>delete</mat-icon>

                    </button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>

        </mat-paginator>

    </div>

</div>

<router-outlet></router-outlet>